@using HospitalPatientTreatmentRecordCoreMvcCRUD.Models

@model IEnumerable<Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


<h4>Patients</h4>

<p>
    <a href="@Url.Action("Create", "Patients")" class="btn btn-primary justify-content-end">Add new Patients</a>
</p>
    <style>
        table.table thead th {
            font-size: 16px;
            white-space: nowrap;
            font-weight: 600;
        }

        table.table tbody td {
            font-size: 14px;
            white-space: normal;
            vertical-align: middle;
        }
    </style>


<table class="table table-bordered table-striped">

    <thead>

        <tr>

            <th>
                Image
            </th>

            <th>
                Patient Name
            </th>

            <th>
                IsAdmitted?
            </th>

            <th>
                ContactNumber
            </th>

            <th>
                Admit Date
            </th>

            <th>
                Address
            </th>

            <th>
                Treatment Type
            </th>

            <th>
                Treatment Details
            </th>

            <th>
                Action
            </th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @if(!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src=@Url.Content("~/images/"+item.ImageUrl) height="80" width="70" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/images/noimage.jpg")" height="80" width="70" />
                    }

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>

                <td>
                   @if(item.IsAdmitted)
                    {
                        <span class="badge bg-success">Yes</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">No</span>
                    }
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AdmitDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentType.TreatmentTypeName)
                </td>

                <td>
                    <ul>
                        @foreach (var detail in item.TreatmentDetails)
                        {
                            <li>
                              @detail.TreatmentName-@detail.Cost
                            </li>
                            
                        }
                    </ul>
                </td>


                <td>
                    <a href="@Url.Action("Edit", "Patients", new { id = item.PatientId })" class="btn btn-primary">Edit</a>
                    <form method="post" action="@Url.Action("Delete", "Patients", new { id = item.PatientId })" style="display:inline" onsubmit="return confirm('Do you want to delete this record?')">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>

                </td>

            </tr>
        }

    </tbody>


</table>
</div>